<!-- This is the correct doc type for the css style sheets I'm using, as near as I can tell. *author's note to self -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title>Contact Us</title>

</head>

<body>

  <br> <br> <br> <br>
  <br> <br> <br> <br>

  <div class="businessName">
    Orquídeas Car Rentals
  </div>

  <div class="businessLocation">
    Avenida Oeste
    Bajo Boquete
	</div>

  <div class="businessPhone">
    +507 6393 2521
  </div>

  <div class="businessEmail">
    orquideas.car.rentals@gmail.com
    boquete.car.rentals@gmail.com
  </div>

  <div class="businessWebsite">
    orquideasboquete.com
    boquetecarrentals.com
    orquideascarrentals.com
  </div>
  
</body>
</html>
