<!-- This is the correct doc type for the css style sheets I'm using, as near as I can tell. *author's note to self -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title>Contact Us</title>

</head>

<body>


<center>

	<div class="phone">
		Susan Prestage
		<br>425-919-3122
	</div>

	<div class="webAddress">
		email: <A href="mailto:susan.prestage@gmail.com&amp;subject=Inquiry f
		or Tabarah Ranch Trakehners" target="new" class="web">susan.prestage@gmail.com</A>
	</div>

	<div class="ranchAddress">
		<br>We are located in the Snoqualmie Valley, east of Seattle, in the
			beautiful but very rainy western half of Washington state.
	</div>

</center>

</body>
</html>
