<!-- This is the correct doc type for the css style sheets I'm using, as near as I can tell. *author's note to self -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title>H1 Van</title>

</head>

<body>
	<H1>H1 Van</H1>

  <%= link_to image_tag('H1_van', width: '315', height: ' 225', :alt => "H1 van"), h1_van_path %>
	<%= link_to "Hyundai H1 12 person van", h1_van_path %><br> <br> <br> <br> <br>


</body>
</html>
