<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Hola, Rails!</h1>

<h1><%= t :hello_world %></h1>
<p><%= flash[:notice] %></p>

<h1><center><%= t :welcome_to_boquete %></center></h1>

<p>
  <%= t :orquideas_intro %>
</p>