<!-- This is the correct doc type for the css style sheets I'm using, as near as I can tell. *author's note to self -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title>Mitsubishi</title>

</head>

<body>
	<H1>Mitsubishi</H1>

  <%= link_to image_tag('Mitsubishi', width: '315', height: ' 225', :alt => "Mitsubishi Mirage" , mitsubishi_path) %>
	<%= link_to "Mitsubishi Mirage", mitsubishi_path %><br> <br> <br> <br> <br>

</body>
</html>
