/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.homepage {
  background: url(ranchPic1_experiment2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Georgia, 'Times New Roman', 'Times Roman', Times, Roman, serif;
}

body {
  font-family: Georgia, 'Times New Roman', 'Times Roman', Times, Roman, serif;
}



.language_selector {
   float: right;
   margin: 0.5em;
   margin-right: 1em;
   overflow: hidden;
 }

 .center {
   text-align: center;
 }

 .clear_div{
   height: 0;
   line-height: 0;
   display: block;
   clear: both;
}
 .copyright_notice{
   font-size: 67%;
}

MY_H1 {
  font-size:300%; font-weight:bold
}

MY_H2 {
  font-size:200%; font-weight:bold
}

MY_H3 {
  font-size:200%
}

MY_H4 {
  font-weight:bold
}

MY_H5 {
  font-size:200%;
  color:#B30D0D
}
