<span class='language_selector'>
  <%= link_to_unless_current image_tag('iconfinder_flag-spain_748120_16', :alt => "Español"), locale: "es" %> |
  <%= link_to_unless_current image_tag('iconfinder_flag-united-kingdom_748024_16', :alt => "English"), locale: "en" %>
</span>
