<span class='language_selector'>
  <%= link_to_unless_current image_tag('iconfinder_flag-spain_748120_32', :alt => "Español"), locale: "es" %> |
  <%= link_to_unless_current "English", locale: "en" %>
</span>
